<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baconbanana.easysurvey"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_green"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.baconbanana.easysurvey.old.questtemp.OldMainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.baconbanana.easysurvey.old.questtemp.ParseQuestion"
            android:label="@string/title_activity_question" >
        </activity>
        <activity
            android:name="com.baconbanana.easysurvey.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
          
        </activity>
        <activity
            android:name="com.baconbanana.easysurvey.getSurvey"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
              
            </activity>
        <activity
            android:name="com.baconbanana.easysurvey.old.questtemp.DisplayMessageActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.baconbanana.easysurvey.old.questtemp.Question"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.baconbanana.easysurvey.old.questtemp.TextBoxQuestion"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.baconbanana.easysurvey.old.questtemp.RadioBtnQuestion"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.baconbanana.easysurvey.old.questtemp.CheckBoxQuestion"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.baconbanana.easysurvey.old.questtemp.RatingQuestion"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.baconbanana.easysurvey.SurveyActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>